POSTGRES_DB=cro
POSTGRES_USER=cro
POSTGRES_PASSWORD=change-me
REDIS_PASSWORD=change-me
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=change-me-now
MINIO_BUCKET=recordings
APP_URL=http://localhost
NEXT_PUBLIC_GRAPHQL_URL=http://localhost/graphql
NEXT_PUBLIC_TRACKER_URL=http://localhost/tracker.js
